body, h1 {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

header {
  height: 100vh;
  background-color: #eee;
  background-image: url(https://pictures.s3.yandex.net/frontend-developer/free-course/cover.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

h1 {
  font-size: 120px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 75px;
}

div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}
